#menu {
display: flex;
margin-left:250px;
margin-bottom: 70px;
width: 500px;
height: 52px;

top: calc(50% - 52px/2 - 370px);

font-family: 'Antic Didone';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 57px;
text-align: center;

color: #000000;

}

@media only screen and (max-width: 600px) {
    #menu {
        display: flex;
        margin-left:auto;
        margin-bottom: 70px;
        width: 500px;
        height: 52px;
        
        top: calc(50% - 52px/2 - 370px);
        
        font-family: 'Antic Didone';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 57px;
        text-align: center;
        
        color: #000000;
        
        }
}
